@import "/css/style.css";


* {
	margin: 10;
	padding: 10;
}

.cabeza {
	position: sticky;
	top: 0;
	background-color: white;
}

.logo {
	height: 60px;
	border-right: 30px solid transparent;
}

// Path: comentartio x
// otro comentario